<div class="container-step-one">
    <img class="img-static" src="https://cdn.shopify.com/s/files/1/2204/0799/files/5OffAmazon.png?v=1625255519">
    <div class="container-form">
        <h2 class="title">
            Get $5 off your next order of Glandex® Chews (60 count) on Amazon
        </h2>
        <form>
            <label class="input-form">
                First Name*
                <input type="text">
            </label>
            <label class="input-form">
                Last Name*
                <input type="text">
            </label>
            <label class="input-form">
                Email Address*
                <input type="text">
            </label>
            <input class="submit-form" type="submit">
        </form>
        <p class="text-small">
            <small>
                One time use only. Terms and conditions may apply. You will be opted in to all special offers and free giveaways.
            </small>
        </p>
    </div>
</div>