<div class="container-step-three">
    <p class="inbox">
        Check your email inbox
    </p>
    <h3 class="steps">
        TO FOLLOW THESE SIMPLE STEPS!
    </h3>
    <div class="boxes">
        <div class="box">
            <img src="https://cdn.shopify.com/s/files/1/2204/0799/files/DermablissJar.png?v=1625492517">
            <div class="container-text">
                <p class="step">
                    Step 1.
                </p>
                <p class="description">
                    Go to Amazon and purchase
                </p>
                <a href="#" class="name">
                    Dermabliss™ Allergy & Immune 60ct chews.
                </a>
                <a href="#" class="submit-form">
                    Go To Amazon
                </a>
            </div>
        </div>
        <div class="box">
            <img src="https://cdn.shopify.com/s/files/1/2204/0799/files/EmailIcon.png?v=1625492517">
            <div class="container-text">
                <p class="step">
                    Step 2.
                </p>
                <p class="description">
                    Foward your order confirmation number to 
                </p>
                <a href="mailto:freejar@vetnique.com" class="name">
                    freejar@vetnique.com
                </a>
                <small>
                    *Email subject line will be Get Your Free Jar of Glandex®
                </small>
            </div>
        </div>
        <div class="box">
            <img src="https://cdn.shopify.com/s/files/1/2204/0799/files/Group_5.png?v=1625498680">
            <div class="container-text">
                <p class="step">
                    Step 3.
                </p>
                <p class="description">
                    Your FREE JAR of Glandex® 60ct chews will be on its way
                </p>
            </div>
        </div>
    </div>
</div>