<div class="img-footer">
    <img class="logo" src="{{ block.settings.image_custom_1 | img_url: 'master' }}" width="50px" heigth="50px">
    <img class="text" src="{{ block.settings.image_custom_2 | img_url: 'master' }}" alt="vetnique labs" width="350px">
</div>