<svg width="145px" height="58px" viewBox="0 0 145 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>Group 13</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 56.6186842 144.743669 56.6186842 144.743669 0 0 0"></polygon>
    </defs>
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-33.000000, -977.000000)" id="Group-13">
            <g transform="translate(33.250000, 977.548906)">
                <path d="M87.9254861,49.8737152 L0.000269349845,49.9163622 C1.03816409,47.7090402 2.6143096,44.4413777 4.64834985,40.54613 C14.6452693,21.401192 20.0829938,10.9881269 30.505935,4.9820743 C34.2507957,2.82413313 40.7142941,0.0390557276 50.5572353,0.0430959752 L138.482901,0 C135.277638,7.85783282 130.073799,19.7994582 123.416817,31.6463622 C121.74595,34.6199845 119.103628,39.1535913 114.059155,43.1305418 C111.983814,44.7663932 107.887901,47.9222755 102.1503,48.8793653 C101.057638,49.0616254 99.5443406,49.1747523 96.5172972,49.4010062 C92.9017245,49.670805 89.9298978,49.8036842 87.9254861,49.8737152" id="Fill-1" fill="#8DC63F"></path>
                <polygon id="Fill-3" fill="#FFFFFF" points="46.911226 34.650017 38.9025573 21.6399706 38.8186099 21.6399706 38.930839 34.650017 34.2665975 34.650017 34.2665975 14.7553885 39.7460712 14.7553885 47.7260093 27.7376022 47.8104056 27.7376022 47.6981765 14.7553885 52.3628669 14.7553885 52.3628669 34.650017"></polygon>
                <polygon id="Fill-5" fill="#FFFFFF" points="57.1694149 34.650017 57.1694149 14.7553885 70.5448793 14.7553885 70.5448793 18.8297539 61.8058235 18.8297539 61.8058235 22.566983 70.0672322 22.566983 70.0672322 26.4168901 61.8058235 26.4168901 61.8058235 30.54737 71.050808 30.54737 71.050808 34.650017"></polygon>
                <polygon id="Fill-7" fill="#FFFFFF" points="96.0046347 34.650017 91.255548 34.650017 87.3221424 21.1901563 87.2372972 21.1901563 83.3034427 34.650017 78.5265232 34.650017 72.878257 14.7553885 78.0488762 14.7553885 81.1962291 27.9903421 81.2801765 27.9903421 84.8207802 14.7553885 89.8226068 14.7553885 93.3914923 27.9903421 93.4758885 27.9903421 96.6789071 14.7553885 101.681183 14.7553885"></polygon>
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-10"></g>
                <path d="M105.027136,27.9899381 L109.747941,27.9899381 L109.747941,14.7549845 L105.027136,14.7549845 L105.027136,27.9899381 Z M107.387539,34.9310836 C105.926765,34.9310836 104.661718,33.7791641 104.661718,32.2896594 C104.661718,30.8284365 105.870201,29.6204025 107.387539,29.6204025 C108.904876,29.6204025 110.141192,30.8001548 110.141192,32.2613777 C110.141192,33.7508824 108.904876,34.9310836 107.387539,34.9310836 L107.387539,34.9310836 Z" id="Fill-9" fill="#FFFFFF" mask="url(#mask-2)"></path>
                <path d="M119.818707,49.4955929 C117.743367,51.1314443 113.647454,54.2877755 107.909853,55.2448653 C106.81719,55.4266765 105.303893,55.5402523 102.27685,55.7660573 C98.6612771,56.035856 95.6894505,56.1687353 93.6850387,56.2387663 C64.3766331,56.2531316 35.0682276,56.2674969 5.75937307,56.2818622 C6.79771672,54.0745402 8.37386223,50.8064288 10.4079025,46.9111811 C20.404822,27.766243 25.8420975,17.353178 36.2654876,11.3471254 C40.0103483,9.18918421 46.4742957,6.40410681 56.3167879,6.40814706 L113.792005,6.38031424" id="Stroke-11" stroke="#8DC63F" mask="url(#mask-2)"></path>
                <path d="M113.792094,6.38008978 L144.242543,6.36527554 C141.03728,14.2231084 135.833441,26.1647337 129.17646,38.0116378 C127.505593,40.9848111 124.863271,45.5188669 119.818797,49.4953684" id="Stroke-12" stroke="#8DC63F" mask="url(#mask-2)"></path>
            </g>
        </g>
    </g>
</svg>