<div class="recharge-order-history dashboard-page">
  <div class="img-header-wrapper">
    <img src="https://via.placeholder.com/350x150" alt="" />
  </div>

  <div class="navbar-wrapper">
    {% include 'recharge-dashboard-nav.liquid' %}
  </div>

  <div class="page-width page-content">
    content
  </div>

</div>
